# Ignorar a pasta do ambiente virtual
venv/
env/

# Ignorar arquivos compilados (lixo do Python)
__pycache__/
*.pyc

# Ignorar banco de dados local (opcional)
db.sqlite3

# Arquivos de sistema
.DS_Store
Thumbs.db