modules = ["web", "nodejs-20", "bash", "python-3.11"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["freetype", "glibcLocales", "lcms2", "libimagequant", "libjpeg", "libtiff", "libwebp", "libxcrypt", "openjpeg", "pgadmin4", "postgresql", "tcl", "tk", "zlib"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start Django Server"

[[workflows.workflow]]
name = "Start Django Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash run.sh"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 33863
externalPort = 3000

[[ports]]
localPort = 33997
externalPort = 3001

[[ports]]
localPort = 36009
externalPort = 3003

[[ports]]
localPort = 36117
externalPort = 4200

[[ports]]
localPort = 36827
externalPort = 8008

[[ports]]
localPort = 38297
externalPort = 3002

[[ports]]
localPort = 40727
externalPort = 5173

[[ports]]
localPort = 40921
externalPort = 6800

[[ports]]
localPort = 45767
externalPort = 8000

[[ports]]
localPort = 46081
externalPort = 6000

[[ports]]
localPort = 46171
externalPort = 5000

[deployment]
deploymentTarget = "autoscale"
run = ["python3.11", "manage.py", "runserver", "0.0.0.0:5000"]
build = ["python3.11", "manage.py", "collectstatic", "--noinput", "--clear"]
