<header class="header">
  <div class="container">
    <div class="header-content">
      <a href="index.html" class="logo-link-wrapper"> 
        <div class="logo-group">
          <img src="imgs/icon nexus.png" alt="icon nexus" class="logo">
          <img src="imgs/nome nexus icon.png" alt="nome nexus" class="logo-name">
        </div>
      </a>
      <nav class="nav">
        <a href="#plataforma">SERVIÇOS</a>
        <a href="#sobre">QUEM SOMOS</a>
        <a href="#oferece">O QUE OFERECEMOS</a>
        <a href="#contrate">CONTRATE-NOS</a>
      </nav>
      <a href="login.html" class="login-btn">LOGIN</a>
    </div>
  </div>
</header>