{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Colégio Paulo de Alcantara{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="dashboard-container">
        {% include 'partials/sidebar.html' %}

        <main class="main-content">
            {% include 'partials/header.html' %}

            {% block content %}{% endblock %}
        </main>
    </div>

    <script src="{% static 'js/script.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
